* {
  box-sizing: border-box;
}

body {
  width: 500px;
  background-color: rgba(100, 44, 165, 0.2);
}

div {
  display: block;
}

#message-container {
  display: none;
}

hr {
  border-style: solid;
  border-color: #642CA5;
}

.view-header {
  font-size: 18px;
  font-weight: 500;
  padding: 6px;
}

.view-wrapper {
  height: 100%;
  padding: 4px;
}

.view-title-wrapper {
  display: inline-block;
  font-size: 12px;
  padding-left: 4px;
  vertical-align: middle;
  width: 92%;
}

.view-toggle-wrapper {
  display: inline-block;
  width: 8%;
}

.toggle {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  transition: 0.3s;
  vertical-align: middle;
}

.toggle::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.checkbox:checked+.toggle::after {
  transform: translateX(16px);
}

.checkbox:checked+.toggle {
  background-color: #7983ff;
}

.checkbox {
  display: none;
}