* {
  box-sizing: border-box;
}

body {
  width: 600px;
  background-color:rgba(100,44,165,0.2);
}

div {
  display: block;
}

hr {
  border-style: solid;
  border-color: #642CA5;
}

.view-header {
  font-size: 18px;
  font-weight: 500;
  padding: 6px;
}

.view-wrapper {
  height: 24px;
}

.view-title {
  display: inline-block;
  font-size: 12px;
  width: 80%;
}

.view-button-wrapper {
  display: inline-block;
  padding: 2px;
  width: 10%;
}

.view-button {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.view-button.show {
  border-color: #2E8B57;
  color: #2E8B57;
}

.view-button.hide {
  border-color: #FF4500;
  color: #FF4500;
}

.view-button.show[selected="true"] {
  background-color: #2E8B57;
  color: white;
}

.view-button.hide[selected="true"] {
  background-color: #FF4500;
  color: white;
}

button:focus {
  outline: none;
}

#message-container {
  display: none;
}
