* {
  box-sizing: border-box;
}

body {
  width: 600px;
}

div {
  display: block;
}

.view-title {
  display: inline-block;
  width: 80%;
}

.view-button-wrapper {
  display: inline-block;
  padding: 2px;
  width: 10%;
}

.view-button {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.view-button.show {
  border-color: green;
  color: green;
}

.view-button.hide {
  border-color: red;
  color: red;
}

.view-button.show[selected="true"] {
  background-color: green;
  color: white;
}

.view-button.hide[selected="true"] {
  background-color: red;
  color: white;
}

button:focus {
  outline: none;
}
